@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.project-item {
  .project-button {
    opacity: 0;
    transition: all 300ms;
  }

  &:hover {
    .project-button {
      opacity: 1;
    }
  }
}


.javaScript {
  @apply bg-yellow-500;
}

.php {
  @apply bg-blue-400;
}

.css {
  @apply bg-blue-600;
}

.scss {
  @apply bg-pink-500;
}

.html {
  @apply bg-yellow-800;
}

.typeScript {
  @apply bg-blue-600;
}

.python {
  @apply bg-indigo-400;
}

.reactjs {
  @apply bg-blue-400;
}

.react-native {
  @apply bg-blue-400;
}

.nextjs {
  @apply bg-white;
}

.unity {
  @apply bg-white;
}


.photoshop {
  @apply bg-blue-300;
}


.illustrator {
  @apply bg-yellow-700;
}


