
body {
  background: #010409 !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #48BB78;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

button {
  &:focus {
    outline: none;
    box-shadow: none !important;
  }
}

.main {
  background: #0d1117;
}

.italic {
  font-style: italic;
}

.font-light {
  font-weight: lighter;
}

a {
  transition: all 120ms;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background: #fff;
    transition: all 120ms;
  }

  &:hover {
    opacity: .8;
    text-decoration: none !important;
  }

  &.active {
    opacity: .8;
  }


}

.portfolio, .blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-hover {
  position: relative;

  .preview {
    position: absolute;
    z-index: 55;
    bottom: -10px;
    left: 0;
    opacity: 0;
    transition: all 320ms;
    font-size: 12px;
    display: flex;
    align-items: center;
    width: 100%;

    &:focus {
      border: 0;
      outline: none;
      box-shadow: none;
    }

    span {
      margin-right: 10px;
    }

  }

  ul.langs {
    width: 100%;
    list-style: none;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    transition: all 320ms;

    span {
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 50%;
    }
  }


  &:hover {
    .preview {
      bottom: 20px;
      left: 20px;
      opacity: 1;
    }

    ul.langs {
      &:not(.no-hide) {
        opacity: 0;
      }
    }

  }
}


hr {
  opacity: 1 !important;
}

.grid-item {
  width: 200px;
}

.grid-item--width2 {
  width: 400px;
}
